    :root {
    --back-color: white;
    --hover-color: #ccc;
    --text-color: black;
    --error-text-color: red;
    --selected-color: #2196F3;
    --progress-bg-color: #4CAF50;
}
body { 
    color: var(--text-color);
    background: var(--back-color)
}

/* light theme */
.t--light {
    background-color: hsl(0, 0%, 99.99%);
    color: hsl(0, 0%, 5%);
  }
  
  .t--light .t-menu {
    background-color: hsl(0, 0%, 100%);
  }
  
  .t--light .t-menu__item {
    background-color: hsl(0, 0%, 85%);
    color: hsl(0, 0%, 5%);
  }
  
  /* dark theme */
  .t--dark {
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 95%);
    
    /* font hack for dark themes */
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-text-stroke: 1px transparent;
  }
  
  .t--dark .t-menu {
    background-color: hsl(0, 0%, 0%);
  }
  
  .t--dark .t-menu__item {
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 95%);
  }
  
  
.button {
    background-color: var(--progress-bg-color);
    border: none;
    color:var(--back-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 55px;
    margin-bottom: 50px;
    
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.error-message {
    color: var(--error-text-color);
}
/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: var(--hover-color);
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: var(--selected-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 13px;
    left: 13px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--back-color);
}
